/* ----------------------------------------------------------- */
/* BASIC SETUPT */
/* ----------------------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


html,
body {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

.clearfix {zoom:1}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/* ----------------------------------------------------------- */
/* REUSABLE COMPONENTS */
/* ----------------------------------------------------------- */

.row {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding: 80px 0;

}

.box {
    padding: 1%;
}


/* ----------------------------------------------------------- */
/* HEdADINGS */
/* ----------------------------------------------------------- */


h1,
h2,
h3 {

    font-weight: 300;
    text-transform: uppercase;


}

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 240%;
    word-spacing: 4px;
    letter-spacing: 1px;
}


h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;

}

h3 {
    font-size: 110%;
    margin-bottom: 15px;
}

h2:after {
    display: block;
    height: 2px;
    background-color: #e67e22;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}


/*------------------------------------------------------*/
/* HEADER */
/*------------------------------------------------------*/



header {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.88)), to(rgba(0, 0, 0, 0.12))), url(img/Hero.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.88), rgba(0, 0, 0, 0.12)), url(img/Hero.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;


}

.hero-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

}


.logo {

    height: 150px;
    width: auto;
    float: left;
    margin-top: 20px;



}


.main-nav {
    float: right;
    list-style: none;
    margin-top: 60px;

}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
}


.main-nav li a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
}



/* ----------------------------------------------------------- */
/* BUTTONS */
/* ----------------------------------------------------------- */
.btn:link,
.btn:visited {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
    transition: background-color 0.2s, border 0.2s, color 0.2s;

}



.btn-full:link,
.btn-full:visited {
    background-color: #e67e22;
    border: 1px solid #e67e22;
    color: #fff;
    margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid #e67e22;
    color: #e67e22;
}


.btn:hover,
.btn:active {
    background-color: #cf6d17;
}

.btn-full:hover,
.btn-full:active {

    border: 1px solid #e67e22;

}

.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid #e67e22;
    color: #fff;
}


/*------------------- Paragraph --------------- */
.long-copy {
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
}

.box p {
    font-size: 90%;
    line-height: 145%;
}

/*------------------- ICONS --------------- */
.icon-big {
    font-size: 350%;
    display: block;
    color: #e67e22;
    margin-bottom: 10px;

}


/*------------------------------------------------------*/
/* AMNIEBTS */
/*------------------------------------------------------*/

.section-ambients {
    padding: 0;
}


.ambients-showcase {
    list-style: none;
    width: 100%;
}

.ambients-showcase li {
    display: block;
    float: left;
    width: 25%;
}

.ambients-photo {
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #000;
}

.ambients-photo img {
    opacity: 0.7;
    width: 100%;
    height: auto;
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
    -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
}

.ambients-photo img:hover {
    opacity: 1;
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
}
